.nav-glow {
  position: relative;
  padding-bottom: 3px;
}

.nav-glow::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  transition: 0.3s;
  border-radius: 20px;
}

.nav-glow:hover::after {
  width: 100%;
}
.nav-links-container {
  display: flex;
  align-items: center;
  gap: 26px;
  white-space: nowrap;
}

.nav-item {
  white-space: nowrap;
}
